@import '../../styles/_default.scss';

.ordinary {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  @include mobile-only {
    flex-wrap: wrap;
  }
}

.ordinary__l {
  width: 100%;
  height: 100%;
  z-index: -10;
  background: url('../../images/about-photo.png') no-repeat;
  
  @include mobile-only {  
    background-size: 100%;
    margin-bottom: 2em;
    display: none;
  }
}

.ordinary__r {
  width: 100%;
  margin: 0 3em;

  @include mobile-only {
    padding-bottom: $padding-bottom-mobile;
  }
}
